@keyframes SymbolList-pop {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  80% {
    transform: scale(1.01);
  }
}

.SymbolList__figure {
  --SymbolList-symbol-size: 150px;
  --SymbolList-grid-size: 8px;
  --SymbolList-grid-color: hsl(
    var(--daui-background-hue),
    var(--daui-background-saturation),
    var(--daui-background-lightness)
  );

  margin: 0;
  width: var(--SymbolList-symbol-size);
  animation-name: SymbolList-pop;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;
}

.SymbolList__svg {
  width: var(--SymbolList-symbol-size);
  height: var(--SymbolList-symbol-size);
  background-image:
    linear-gradient(
      45deg,
      var(--SymbolList-grid-color) 25%,
      transparent 25%,
      transparent 75%,
      var(--SymbolList-grid-color) 75%,
      var(--SymbolList-grid-color) 100%
    ),
    linear-gradient(
    45deg,
    var(--SymbolList-grid-color) 25%,
    transparent 25%,
    transparent 75%,
    var(--SymbolList-grid-color) 75%,
    var(--SymbolList-grid-color) 100%
  );
  background-size: calc(var(--SymbolList-grid-size) * 2)
    calc(var(--SymbolList-grid-size) * 2);
  background-position:
    0 0,
    var(--SymbolList-grid-size) var(--SymbolList-grid-size);
  background-color: hsl(
    var(--daui-background-hue),
    var(--daui-background-saturation),
    calc(var(--daui-background-lightness) - 12%)
  );
  box-shadow: 0 0.25em 0.75em hsla(0, 0%, 0%, var(--daui-shadow-opacity));
}

.SymbolList__figcaption {
  margin-top: 0.5em;
}
