@custom-media --breakpoint-1 (width >= 30em);

.Header {
  padding: 1.5em 0;
  text-align: center;
  font-size: 150%;
  @media (--breakpoint-1) {
    font-size: 180%;
  }
  & > h1 {
    display: inline-block;
    margin: .5em;
    font-size: inherit;
  }
}

.logo {
  width: 2em;
  max-width: 25%;
  vertical-align: middle;
}
