.container {
  border: 2px dashed;
  padding: 1.5em;
  text-align: center;
  color: #f90;
  opacity: .6;
  transition: opacity .25s;
  & h1 {
    margin: 0;
    font-size: inherit;
  }
  &.hover {
    opacity: 1;
  }
}
